<!-- LIGHT SECTION -->
<section id="lightSection" class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li class="home breadcrumb-home">
            <%= link_to "HOME", potepan_path %>
          </li>
          <% if path_name %>
            <li>
              <a href="#"><%= path_name %></a>
            </li>
          <% end %>
          <li class="active"><%= name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
