<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomies.each do |taxonomy| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#opne_taxon_<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
            <ul id="opne_taxon_<%= taxonomy.id %>" class="collapse collapseItem">
              <% taxonomy.taxons.leaves.each do |taxonomy_leave| %>
                <li id="category-links">
                  <%= link_to(potepan_category_path(taxonomy_leave.id)) do %>
                    <%= taxonomy_leave.name %> <span>(<%= taxonomy_leave.all_products.count %>)</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
