<% provide(:title, @taxon.name) %>

<%= render "potepan/shared/top_light_section", name: @taxon.name, path_name: "shop" %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'product_categories', taxonomies: @taxonomies %>
        <%= render 'looking_color' %>
        <%= render 'looking_size' %>
      </div>
      <%= render 'main_product_images', products: @products %>
    </div>
  </div>
</section>

<%= render 'related_categories' %>
