<!-- 関連商品 -->
<div id="related_products" class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>

  <% relation_products.each do |relation_product| %>
    <%= link_to(potepan_product_path(relation_product.id), {class: "to_relate_product-#{relation_product.name}"}) do %>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="productBox">
          <div class="productImage clearfix">
            <% if relation_product.display_image %>
              <%= image_tag relation_product.display_image.attachment(:product) %>
            <% end %>
          </div>
          <div class="productCaption clearfix">
            <h5><%= relation_product.name %></h5>
            <h3><%= relation_product.display_price %></h3>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
