<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/meta_tags' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="main-wrapper">
       <!-- HEADER -->
       <%= render 'layouts/header' %>
         <%= yield %>
       <!-- FOOTER -->
       <%= render 'layouts/footer' %>
    </div>
    <!-- LOGIN MODAL -->
    <%= render 'layouts/login_modal' %>
    <!-- SIGN UP MODAL -->
    <%= render 'layouts/signup_modal' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
